<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.lincoln.students.bru14476346.moviefinder" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.CompactMenu" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieSearch"
            android:label="@string/title_activity_movie_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.lincoln.students.bru14476346.moviefinder.MainActivity" />
        </activity>
        <activity
            android:name=".topMovies"
            android:label="@string/title_activity_top_movies"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.lincoln.students.bru14476346.moviefinder.MainActivity" />
        </activity>
        <activity
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".topMovies" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.lincoln.students.bru14476346.moviefinder.topMovies" />
        </activity>
        <activity
            android:name=".MovieSave"
            android:label="@string/title_activity_movie_save"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.lincoln.students.bru14476346.moviefinder.MainActivity" />
        </activity>
    </application>

</manifest>
